body{
	margin: 0;
	background-color: #ecf0f1;
	font-family: 'Lato', sans-serif;
}
#home{
	width: 100%;
	margin: auto;
	min-height: 100vh;
	position: relative;
	background-color: #333333;
	transition: all .25s ease; -webkit-transition: all .25s ease; -moz-transition: all .25s ease;-o-transition: all .25s ease;
}
#home h1{
	z-index: 9;
	font-size: 5em;
	font-family: 'Lobster', cursive;
	color: #f7f7f7;
	margin: 0;
	padding-top: 1em;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
} 
#home h1 span{
	display: block;
	font-size: .5em;
}
#home h2{
	font-size: .9em;
	color: #f7f7f7;
	text-align: center;
}
#home p{
	color: #ffffff;
	font-size: 1.1em;
	padding: 0;
	padding-bottom: 1.5em;
	margin: 0;
	display: block !important;
	text-align: center;
}
#home .methods{
	display: none;
	max-width: 600px;
	margin: auto;
	margin-top: 8%;
	padding: .5em 1em 1em 1em;
	background-color: rgba(250,250,250,.21);
	border-radius: 3px;
}
#loading{
	position: absolute;
	padding-top: 5em;
	min-width: 100%;
	font-size: 1.2em;
	color: #ffffff;
	text-align: center;
}
#loading i{
	text-align: center;
}
#home .methods li{
	font-size: 1.1em;
	margin: 1.5em .5em;
	color: #ffffff;
	border-radius: 3px;
	display: inline;

	transition: all .25s ease; -webkit-transition: all .25s ease; -moz-transition: all .25s ease;-o-transition: all .25s ease;
}
#home .methods .btn{
	font-size: 1em;
	max-width: 100px;	
	color: #666666;
	padding: 0.75em .8em;
	background-color: #ffffff;
}
#home .methods .btn:hover{
	color: #333333;
	cursor: pointer;
}
#home .methods li.btn i{
	padding: 0.25em;
	margin: 0;
}
#home .methods li#replace form{
	padding: 0.75em;
	margin-left: 1em;
	border-radius: 3px;
	background: #ffffff;
	font-size: .9em;
	display: inline;
}
#home .methods li#replace input{
	max-width: 175px;
	font-size: 1.1em;
	border: none !important;
	color: #666666;
	background-color: #ffffff
}
#home .methods li#replace input:focus,#home .methods li input:hover{
	border-color: red;
	outline: none !important;
}
#home .methods li#replace i{
	padding: 0.75em;
	color: #666666;
}
#home .methods li#replace i:hover{
	cursor: pointer;
	color: #333333;

	transition: all .25s ease; -webkit-transition: all .25s ease; -moz-transition: all .25s ease;-o-transition: all .25s ease;
}
#home .screen{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -9;
	background-color: rgba(0,0,0,.3);
}
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	color: #f7f7f7;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
}
footer a{
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	padding-top: 0.1em;
}
footer a:hover{
	color: #999999;
}
@media  (max-width: 690px) {
	.blockOnMobile{
		display: block !important;
	}
	#home h1{
		font-size: 3em;
	}
	#home .methods{
		max-width: 85%;
		margin: auto;
	}
	#home .methods li{
		display: block;
	}
	#home p{
		padding-bottom: 0.75em;
	}
	#home .methods .btn, 	#home .methods li{
		margin: 0.65em auto;
	}
}